body {
	user-select: none;
    overflow: hidden;
}
/* Page Accueil */
#accueil .logo {
	width:100%;
	margin: auto;
}
/* Page Regle */
#regle {
	font-size: 20px;
}
#regle .tokenRed {background-color:red;}
#regle .tokenBlack {background-color:black;}
#regle .tokenRed, #regle .tokenBlack {
	display:inline-block;
	width: 18px;
	height: 18px;
	margin-bottom: -5px;
	border-radius:100%;
	border: 2px inset #AAA;
}
/* page jeu */
#jeu #red {	background-color:red;margin-left: 10px;}
#jeu #yellow {background-color:yellow;margin-left: 10px;}
#jeu #green {background-color:green;margin-left: 10px;}
#jeu #blue {background-color:blue;margin-left: 10px;}
#jeu #purple {background-color:purple;margin-left: 10px;}
#jeu #orange {background-color:orange;margin-left: 10px;}
#jeu #darkturquoise {background-color:darkturquoise;margin-left: 10px;}
#jeu #black {background-color:black;margin-left: 10px;}
#jeu .clear {clear: both;}
#jeu .numBox {
	width: 40px;
    height: 40px;
	margin: 1px;
	margin-right: 10px;
	border: 2px inset #AAA;
	background-color: #E9E9E9;
    border-radius: 100%;
	font-size: 20px;
	text-align : center;
	line-height: 40px;
	float: left;
}
#jeu .box {
    width: 40px;
	height: 40px;
	margin: 1px;
	background-color: #E9E9E9;
    border: 2px inset #AAA;
    border-radius: 100%;
    float: left;
}
#jeu .content-smallBox {
    width: 44px;
	height: 44px;
	margin-left: 10px;
    float: left;
}
#jeu .smallBox {
    width: 18px;
	height: 18px;
	background-color: #E9E9E9;
    border: 2px inset #AAA;
    border-radius: 100%;
    float: left;
}
#jeu #chrono {
	margin-top: 10px;
    width: 349px;
	text-align : center;
}
/* page perdue */

/* page gagner */