/* General */
body {
	user-select: none;
    overflow: hidden;
}
h1 {
	text-align: center;
}
.clear {clear: both;}
/* Page Accueil */
#accueil .logo {
	width:100%;
	margin: auto;
}
/* Page Regle */
#regle {
	text-align: justify;
	font-size: 20px;
}
#regle .tokenRed {background-color:red;}
#regle .tokenBlack {background-color:black;}
#regle .tokenRed, #regle .tokenBlack {
	display:inline-block;
	width: 18px;
	height: 18px;
	margin-bottom: -5px;
	border-radius:100%;
	border: 2px inset #AAA;
}
/* page jeu */
#jeu #red {	background-color:red;margin-left: 10px;}
#jeu #yellow {background-color:yellow;margin-left: 10px;}
#jeu #green {background-color:green;margin-left: 10px;}
#jeu #blue {background-color:blue;margin-left: 10px;}
#jeu #purple {background-color:purple;margin-left: 10px;}
#jeu #orange {background-color:orange;margin-left: 10px;}
#jeu #darkturquoise {background-color:darkturquoise;margin-left: 10px;}
#jeu #black {background-color:black;margin-left: 10px;}
#jeu .numBox {
	width: 40px;
	margin: 1px;
	margin-right: 10px;
	border: 2px inset #AAA;
	background-color: #E9E9E9;
    border-radius: 100%;
	font-size: 20px;
	text-align : center;
	line-height: 40px;
	float: left;
}
#jeu .box {
    width: 40px;
	height: 40px;
	margin: 1px;
	background-color: #E9E9E9;
    border: 2px inset #AAA;
    border-radius: 100%;
    float: left;
}
#jeu .content-smallBox {
    width: 44px;
	height: 44px;
	margin-left: 10px;
    float: left;
}
#jeu .smallBox {
    width: 18px;
	height: 18px;
	background-color: #E9E9E9;
    border: 2px inset #AAA;
    border-radius: 100%;
    float: left;
}
#jeu #chrono {
	font-size: 20px;
	margin-top: 10px;
    width: 349px;
	text-align : center;
}
/* page scores */
#scores .cell{
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 33%;
	line-height: 40px;
	font-size: 20px;
	border-left:2px solid #000;
}
#scores .borderRight{
	border-right:2px solid #000;
}
#scores .borderBottom{
	border-bottom:2px solid #000;
}
#scores .col{
	border-top:2px solid #000;
	background-color: #1b75bb;
	color: #FFF;
}
#h9 .cell,#h7 .cell,#h5 .cell,#h3 .cell,#h1 .cell {
	background-color: #E9E9E9;
}

/* page perdue */
.content-sBox {
	margin: auto;
	text-align: center;
	width: 100%; 
	font-size: 20px;
}
.sBox {
	width: 40px;
	height: 40px;
	margin: 1px;
	margin-top: 20px;
    border: 2px inset #AAA;
    border-radius: 100%;
    display: inline-block;
}
/* page gagner */