/* General */
html {height:100%;}
body {
	user-select: none;
	overflow: hidden;
	background-color: #E9E9E9;
}
h1 {
	text-align: center;
	color: #1b75bb;
}
h2 {text-align: center;}
form {
	margin: 0px;
	padding: 0px;
	display: inline;
}
button {
	font-size: 20px;
	width: 30%;
	height: 60px;
}
.button {
	text-align: center;
	position: fixed;
	bottom: 10px;
	left: 0px;
	margin: 0px;
	width: 100%;
}
.clear {clear: both;}
/* Page Accueil */
#home .logo {
	width:100%;
	margin: auto;
}
/* Page Regle */
#rule {
	text-align: justify;
	font-size: 20px;
}
#rule .tokenRed, #rule .tokenBlack {
	display:inline-block;
	width: 18px;
	height: 18px;
	margin-bottom: -5px;
	border-radius:100%;
	border: 2px inset #AAA;
}
#rule .tokenRed {background-color:red;}
#rule .tokenBlack {background-color:black;}
/* page jeu */
#game #red {	background-color:red;}
#game #yellow {background-color:yellow;}
#game #green {background-color:green;}
#game #blue {background-color:blue;}
#game #purple {background-color:purple;}
#game #orange {background-color:orange;}
#game #darkturquoise {background-color:darkturquoise;}
#game #black {background-color:black;}
#game .intBox {
	width: 40px;
	margin: 1px;
	margin-right: 10px;
	border: 2px inset #AAA;
	background-color: #d8d8d8;
    border-radius: 100%;
	font-size: 20px;
	text-align : center;
	line-height: 40px;
	float: left;
}
#game .box {
    width: 40px;
	height: 40px;
	margin: 1px;
	background-color: #d8d8d8;
    border: 2px inset #AAA;
    border-radius: 100%;
    float: left;
}
#game .content-smallBox {
    width: 44px;
	height: 44px;
	margin-right: 10px;
	margin-left: 10px;
    float: left;
}
#game .smallBox {
    width: 18px;
	height: 18px;
	background-color: #d8d8d8;
    border: 2px inset #AAA;
    border-radius: 100%;
    float: left;
}
#game #timer {
	font-size: 20px;
	margin-top: 10px;
    width: 100%;
	text-align : center;
}
/* page scores */
#scores .cell{
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 33%;
	line-height: 40px;
	font-size: 20px;
	border-left:2px solid #000;
}
#scores .borderRight{border-right:2px solid #000;}
#scores .borderBottom{border-bottom:2px solid #000;}
#scores .col{
	border-top:2px solid #000;
	background-color: #1b75bb;
	color: #FFF;
}
#h9 .cell,#h7 .cell,#h5 .cell,#h3 .cell,#h1 .cell {background-color: #d8d8d8;}
/* page perdue */
#lose p {
	font-size: 20px;
	text-align: center;
}
#lose .content-sBox {
	margin-top: 20px;
	text-align: center;
	width: 100%; 
}
#lose .sBox {
	width: 40px;
	height: 40px;
	margin: 1px;
    border: 2px inset #AAA;
    border-radius: 100%;
    display: inline-block;
}
/* page gagner */
#win p {
	text-align: center;
	font-size: 20px;
}
#win input[type=text] {
	width: 250px;
	font-size:20px;
	height: 30px;
}
#win canvas {
	position: fixed;
	top: 0;
	z-index: -1;
}